.nav{
    display: flex;

    background-color: lightblue;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    
}
img{
    height: 100px;
    
    
}
ul{
    padding: 100px;
    color: white;
    flex: 2;
    display: flex;
    justify-content: space-between;

}
h1{
    color:white ;
    flex: 1;
    text-align: center;
}
a{
    text-decoration:none;
    color: white;
}
li{
    list-style-type: none;

}